<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>groupName</key>
		<string>三方框架使用</string>
		<key>items</key>
        <array>
            <dict>
                <key>name</key>
                <string>SJVideoPlayer使用</string>
                <key>vcName</key>
                <string>EYSJVideoPlayerViewController</string>
            </dict>
        </array>
	</dict>
</array>
</plist>
