<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>language</key>
		<string>OC</string>
		<key>title</key>
		<string>UIView测试YYLabel</string>
		<key>vcName</key>
		<string>EYCustomViewController</string>
	</dict>
    <dict>
        <key>language</key>
        <string>OC</string>
        <key>title</key>
        <string>UICollectionView测试headerView</string>
        <key>vcName</key>
        <string>EYCustomViewController1</string>
    </dict>
</array>
</plist>
