<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>1、UIView(YYLabel)计算高度自适应</string>
		<key>vcName</key>
		<string>EYCustomViewController1</string>
	</dict>
	<dict>
		<key>title</key>
		<string>2、UICollectionView测试headerView</string>
		<key>vcName</key>
		<string>EYCustomViewController2</string>
	</dict>
	<dict>
		<key>title</key>
		<string>3、瀑布流使用</string>
		<key>vcName</key>
		<string>EYWaterFallViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>4、UICollectionView 其他布局使用</string>
		<key>vcName</key>
		<string>EYCollectionViewOtherController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>5、UITableView分组(组头自适应高度)</string>
		<key>vcName</key>
		<string>EYTableViewSizeToFitViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>6、UIPageViewController</string>
		<key>vcName</key>
		<string>EYPageViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>7、轮播框架</string>
		<key>vcName</key>
		<string>EYXRCarouselViewController</string>
	</dict>
    <dict>
        <key>title</key>
        <string>8、日历组件</string>
        <key>vcName</key>
        <string>EYCalendarViewController</string>
    </dict>
    <dict>
        <key>title</key>
        <string>9、算法</string>
        <key>vcName</key>
        <string>EYArithmeticViewController</string>
    </dict>
</array>
</plist>
